@import "tailwindcss";

@layer base {
    h1 {
        @apply text-2xl;
    }

    body {
        margin: 20px 20px;
    }

    ul {
        list-style-type: disc;
        list-style: square;
        @apply mx-10;
    }

    a {
        text-decoration: underline;
        @apply text-blue-300;
    }

    hr {
        @apply my-10 text-emerald-400 border-dashed border-[1.5];
    }

    button {
        @apply border;
    }
}

@utility gbutton {
    @apply text-5xl border-2 border-emerald-400 rounded-2xl bg-emerald-100 flexy border-dashed;
    padding: 15px 10px;
    margin: 20px 20px;
}

@utility flexy {
    @apply flex text-center justify-center
}

@layer components {
    .btn {
        @apply cursor-pointer transition-colors px-5 py-3;
    }

    .btn1 {
        @apply border-emerald-400 bg-white text-black;
    }

    .btn1:hover {
        @apply bg-emerald-100;
    }

    .gridTest {
        @apply border-2 border-emerald-300 my-2 mx-2 py-3 px-6 rounded-xl bg-emerald-100;
    }

    .gridTest-item-1 {
        /* navbar */
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-self: start;
    }

    .gridTest-item-2 {
        /* main */
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .gridTest-item-3 {
        /* header */
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        @apply text-5xl;
    }

    .gridTest-item-4 {
        /* footer */
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
    }
    .gridTest-item-4-after {
        opacity: 0;
    }
}